.profile-photo {
    height: 100px;
    width: 120px;
    border: 1px solid #605f5f;
}
.span-text-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.friend-notification {
    background: #f9f9f9;
}

.notification-row {
    border: 1px solid #d9d9d9;
}